/*Styles for Crystals game*/


body {
    background-image: url("../images/rc_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin:auto;
    color: black;
    text-align: center;
}

body, html, .container-fluid {
     height: 100%;
}

.emptyRow {
  height: 5%;
}

.mainRow {
  height: 70%;
}

.main-container {
  background-color: lightblue;
  border-style: solid;
  border-color: darkblue;
  height: 100%;
  overflow: auto;
  padding-top: 20px;
}

.hdr-container {
  background-color: lightblue;
  border-style: solid;
  border-color: darkblue;
  border-bottom: none;
  height: 100%;
}

.headers {
  margin: 10px 0px;

}

.startRow {
  margin-top: 50px;
}

.doneButton,
.startButton {
  height: 100px;
  width: 100%;
  background-color: white;
  border-style: solid;
  border-color: darkblue;
  padding-top: 30px;
  cursor: pointer; 
}

.trivia {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 40px;
}

.ansExclaim,
.ansMessage1,
.ansMessage2,
.ansImg {

  font-weight: bold;
}
.answerBox {
  font-size: 24px;
  margin: 0 auto;
  font-weight: bold;
  /*height: 100px;*/
  width: 200px;
 /* background-color: white;
  border-style: solid;
  border-color: darkblue;*/
  padding: 10px 0px;
  cursor: pointer; 

}

.answerBox:hover {
 background-color: white;
 border-style: solid; 
 border-color: darkblue;
}
